html {
    scroll-behavior: smooth;
}

main {
    overflow-x: hidden;
}

a#proyecto,
a#ubicacion,
a#listado,
a#sitios,
a#fotografias {
    border: 2px solid red;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
}

a#proyecto {
    top: 604px;
}
a#ubicacion {
    top: 1236px;
}
a#listado {
    top: 1804px;
}
a#sitios {
    top: 2562px;
}
a#fotografias {
    top: 3016px;
}

.container-fluid.container-p0 {
    margin: 0px;
    padding: 0;
}

.container-fluid .row .col-md-6 {
    padding: 0;
}

.col-md-6.content {
    padding: 2rem !important;
}

header nav.bg-green,
a.btn-green {
    background-color: #82a825;
    color: #fff;
}
.owl-carousel {
    margin-top: 5.8rem;
}

.owl-carousel .item img {
    max-height: 600px;
    object-fit: cover;
}

.owl-dots {
    margin-top: -30px !important;
    position: relative;
    z-index: 9999;
}

.owl-dots .owl-dot.active span {
    background-color: #82a825 !important;
}


.content-map {
    position: relative;
}

.content-map .info {
    background-color: #0006;
    color: #fff;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content-map .info h2 {
    margin-top: 240px;
}


footer {
    background-color: #82a825;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    color: #fff;
}

footer hr {
    border-color: #fff;
    margin: 20px auto;
    width: 80%;
}